.carousel-inner {
  position: relative;
  width:100%;
  height: 100%;
  top:0;
  left:0;
}

.nav-link{
  color: red;
}

.nav-item a:hover {
  color: white;
    background-color: red;
}

#buttonz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img-wrapper {
  position: relative;
 }

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 80%;
}

.list-unstyled {
  padding-top: 50px;
}

.table {
   margin: auto;
   width: 50% !important;
}

.table thead, tbody {
   text-align: center;
}

p {
  text-align: right;
}
